# Database settings
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="your-secure-password"
POSTGRES_DB="shopdb"
DATABASE_URL="postgresql://postgres:your-secure-password@localhost:5432/shopdb?schema=public"

# NextAuth.js
# You can generate a new secret with: openssl rand -base64 32
NEXTAUTH_SECRET="your-secret-key-at-least-32-chars"
NEXTAUTH_URL="http://localhost:3000"

# App
# NEXT_PUBLIC_API_URL="http://localhost:3000/api"
