# База данных
DATABASE_URL="postgresql://postgres:postgres@postgres:5432/shopdb"

# NextAuth
NEXTAUTH_SECRET="mysecretkey123456789"
NEXTAUTH_URL="http://localhost:3000"

# Для продакшена
NODE_ENV="production"